/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: "Geist", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



/* ===============================
   SweetAlert – icônes ultra discrètes
   =============================== */

.small-icon .swal2-icon {
  transform: scale(0.6);          /* icône plus petite */
  margin: 0.3rem auto;
}

.small-icon .swal2-icon-content {
  font-size: 0.6rem;              /* symbole ✔ ✖ plus fin */
}

.small-icon .swal2-popup {
  padding: 1rem;                  /* popup plus compacte */
}

